.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background-color: grey !important;
  font-family: 'Orbitron', sans-serif;
}

.routeContainer {
  padding-top: 250px;
}

iframe {
  border: none;
}

h1 {
  color: white;
}

h2 {
  color: crimson;
}

p {
  color: white;
  font-style: italic;
  font-size: large;
  font-family: 'Orbitron', sans-serif;
}

span {
  color: red;
}

#selfie {
  width: 220px;
  height: 300px;
  margin-top: 25px;
  border-radius: 200px;
  object-fit: cover;
}

#about-pic {
  width: 800px;
  height: 800px;
}
